Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-JWT-Extended==4.6.0
Flask-CORS==4.0.1
Werkzeug==3.0.3
SQLAlchemy==2.0.37
yfinance==0.2.50
beautifulsoup4==4.12.3
requests==2.32.3
python-dotenv==1.0.1
psycopg2-binary==2.9.10
boto3==1.35.0
gunicorn==22.0.0
flask-apscheduler==1.13.1
